/* body{
    background-color: transparent;
    background-image:url(../images/back1.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #029cb7;
    
}  */

.login {
    height: 100vh;
    width:100%;
    position:relative;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/back1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.login .form-container {
    background-color: rgba(80, 93, 97, 0.853);
    padding: 3rem 2rem;
    border-radius: 4px;
    margin-top: 30%;
    /* position:absolute; */
    /* top:30%;     */

}

.login-title {
    font-weight: bolder;
    
    
}

.signup-link {
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgb(100, 100, 100);
}

.signup-link:hover {
    color:aqua;
    text-decoration: none;
}

/* 
.forml{
    color:#c0d96f;
}

.card-body{
  box-shadow:5px 10px #c0d96f;
   
}

.card-title{
    color: aqua;
}

#btn btn-secondary{
    color: aqua;
}

.mylogin{
    padding:10%;
} */