.register {
    height: 100vh;
    width:100%;
    position:relative;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/back1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.register-form-container {
    background-color: rgba(80, 93, 97, 0.853);
    padding: 2.5rem 2rem 1.5rem;
    border-radius: 4px;
    margin-top: 12%;
}


.signup-title {
    font-weight: bolder;
    
    
}

.signup-link {
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgb(100, 100, 100);
}

.signup-link:hover {
    color:aqua;
    text-decoration: none;
}