.faqcard {
  margin-left: 25%;
  margin-bottom: 6%;
  border-radius: 3px;
}

.faqcard ul {
  border: 2px solid #c0d96f;
}

.faqcard ul li {
  border: 2px solid #c0d96f;
}


p {
  font-weight: bold;
}


h2 {
  font-weight: bold;
  color: #c0d96f;   
  font-size:32px;
}
