.footer-icons {
  font-size: 1.3rem;
  color:#fff;
}

.footer-icons:hover {
    color:aqua;

}

.footer-links {
  color: #c0d96f;
  text-decoration: none;
}


.footer-links:hover {
  text-decoration: none;
  color:#fff;

}