.image{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.555)), url(../images/home2.jpg);
    height:100vh;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.large{
    font-size:50px;
    /* color:white; */
    background: transparent;
    -webkit-text-stroke: 2px #c0d96f;
}

.image .home-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 32px;
    color: white;
    text-align: center;
}

.cardcont{
    display: flex;
    height: 40vh;
}

.cards {
    padding: 7rem 0 4rem;
}

.card2 {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
    padding: 1.2rem 0;
    border-radius: 5px;

}