.image{
    background-image: url(../images/home.png);
    height:100vh;
    width:100%;
    padding:10%;
}

.image p{
    font-weight: bold;
    font-size: 32px;
    color: white;
    text-align: center;
}
#getbtn:hover{
   /* background-color:grey; */
   transform: scale(1.2) ;
   transition: 0.3s ease-in-out;
   
}

#getbtn{
   height:50px;
   width:100px;  
   background: transparent;
  box-shadow:5px 10px #c0d96f;
   text-align: center;
   margin-left: 40%;
}

.cardcont{
    display: flex;
    height: 40vh;
}