.profile-img {
  height: 50px;
  width:50px;
  border-radius: 50%;
}

.approved-loan {
  background-color: #505D61;
  color:#fff;
}
.pending-loan {
  background-color: #505d6185;
  color:#000;
}

.badge-color {
  background-color: #505D61;
color:#fff;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: rgba(141, 141, 141, 0.404);
  color:#505D61;
  transition: all 0.5s ease-in-out;
}