*{margin: 0;padding: 0}body{display: flex;justify-content: center;align-items: center;width: 100%;background-color: #000}.card{width: 100%;border-radius: 13px}.card1{background-color:
     #5390B5;width: 100%}.innercard{width: 100%;background-color: #EEF8FE;border-radius: 11px}.btn{height: 35px;width: 120px;border: none;background-color: #119CFF;font-size: 12px;color: #fff;border-radius: 5px;display:flex;justify-content:center;align-items:center}
.btn:hover{background-color:#000}.btn:focus{box-shadow:none;outline:none}
.btn1{height: 35px;width: 120px;border: none;font-size: 13px;background-color: #fff;border-radius: 5px;cursor:pointer}.btn2{height: 35px;width: 120px;border: none;background-color:#fd4d86;font-size: 12px;color: #fff;border-radius: 5px;display:flex;justify-content:center;align-items:center}.btn2:hover{background-color:#af1d4c}.btn2:focus{box-shadow:none;outline:none}.btn3{height: 35px;width: 120px;border: none;background-color:#fd8300;font-size: 12px;color: #fff;border-radius: 5px;display:flex;justify-content:center;align-items:center}.btn3:hover{background-color:#165f12}.btn3:focus{box-shadow:none;outline:none}.navbar-brand{font-weight: 700;font-size: 22px}.go{color: #119CFF}.home{color: #119CFF}
.nav-item{font-weight: 500;color: #000000}.heading{font-weight: 700;font-size: 35px}.text{font-size: 32px;font-weight: 700;color: #0f1113b8}.text1{color: #7F858A;font-size: 13px;font-weight: 500}.buttonitems{font-size: 12px;color: #179DFE;font-weight: 500}
.card2{background-color: #fff;border: none;border-radius: 8px;width:100%}.stellar{font-size: 16px;font-weight: 600}.hosting{font-size: 12px;color: #BAC3CE}.price{font-size: 25px;font-weight: 700}.small{font-size: 13px}.year{font-size: 13px;color: #119CFF}









