{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />

{% endblock %} {% block content%}
<div class="aboutus">
  <h2 class="about-title">About Eloan</h2>
</div>
<div class="loan pt-5">
  <div class="eloan text-center pt-5">
    <h3>Eloans Loans</h3>
    <p class="pt-2 pb-4 w-25 mx-auto">
      <strong>eLoan</strong> is a financial provider based in Nairobi kenya and
      offers short-term loans
    </p>
  </div>

  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card imgcard text-center py-3">
          <img
            class="card-img-top"
            src="{% static 'images/mission.png' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-title center">Our Mission</p>

            <p class="card-text px-4">
              To be the finacial bridge for middle and lower income youth and
              those who run SMEs.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card imgcard text-center py-3">
          <img
            class="card-img-top"
            src="{% static 'images/vision.png' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-title center">Our Vision</p>

            <p class="card-text px-4">
              Become one of the best financial providers that can be reliable to
              everyone.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card imgcard text-center py-3">
          <img
            class="card-img-top"
            src="{% static 'images/purpose.png' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-title center">Our Purpose</p>

            <p class="card-text px-4">
              Growing small business by providing financial support and hence
              creating self employment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
