{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />

{% endblock %} {% block content%}
<div class="aboutus">
  <div class="aboutpic">
    <img src="{% static 'images/about.png' %}" alt="My image" />
  </div>
  <div class="loan">
    <div class="eloan">
      <h3>About Eloans</h3>
      <p>
        eLoans is a financial provider based in Nairobi kenya and offers
        short-term loans
      </p>
    </div>

    <div class="desc">
      <div class="cards">
        <div class="card imgcard" style="width: 18rem">
          <img
            class="card-img-top"
            src="{% static 'images/mission.png' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-title center">Our Mission</p>

            <p class="card-text">
              To be the finacial bridge for middle and lower income youth and
              those who run SMEs.
            </p>
          </div>
        </div>

        <br />
        <div class="card imgcard" style="width: 18rem">
          <img
            class="card-img-top"
            src="{% static 'images/vision.png' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-title center">Our Vision</p>

            <p class="card-text">
              Become the best financial provider that can be reliable to
              everyon.
            </p>
          </div>
        </div>
        <br />
        <div class="card imgcard" style="width: 18rem">
          <img
            class="card-img-top"
            src="{% static 'images/purpose.png' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-title center">Our Purpose</p>

            <p class="card-text">
              Growing small business by providing financial support and hence
              creating self employment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
