<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="allLoans{{request.user.id}}">
      {% for loan in loans %} {% if not loan.approved %}
      <div class="card card-body my-3 pending-loan">
        <small class="m-0 p-0">Transactor: You</small>
        <small class="m-0 p-0">Amount: Ksh {{loan.amount}}0</small>
        <small class="m-0 p-0">Loan Request Date: {{loan.borrowed_date}}</small>
        <small class="m-0 p-0">Due Date: {{loan.due_date}}</small>
        <small class="m-0 p-0">Loan Status: Pending</small>
      </div>
      {% else %}
      <div class="card card-body my-3 approved-loan">
        <small>Creditor: <strong>{{loan.lender.username|title}}</strong></small>
        <small>Amount: Ksh <strong>{{loan.amount}}0</strong></small>
        <small
          >Loan Request Date: <strong>{{loan.borrowed_date}}</strong></small
        >
        <small>Due Date: <strong>{{loan.due_date}}</strong></small>
        <small>Approved Date: <strong>{{loan.approved_date}}</strong></small>
        <small>Loan Status: <strong>Approved</strong></small>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
