{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/loan.css' %}" />

{% endblock %} {% block content%}

<section class="apply-loan">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 loan-form-container">
        <h2 class="text-center mb-4">Deposit To Your Account</h2>
        <form action="{% url 'deposit' request.user.id%}" method="POST">
          {% csrf_token %} {{form.as_p}}
          <br />

          <input
            type="submit"
            value="submit"
            class="btn btn-dark px-4"
            id="submit"
          />
          <br />
        </form>
      </div>
    </div>
  </div>
</section>

{%endblock%}
