{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/faqs.css' %}" />

{% endblock %} {% block content%}
<br><br> <br>
<center>
<h2>FAQS</h2>
</center>
<br><br>
<div class="card faqcard" style="width: 50rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
<p>
    How Easy can i get an eloan? 
  <button
    class="btn btn-outline-info"
    type="button"
    data-toggle="collapse"
    data-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
    style="margin-left: 90%;"
  >
    view Ans</i>
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
    anderson cred nesciunt sapiente ea proident.
  </div>
</div>
    </li>

    <li class="list-group-item">
<p>
    What is ELOAN?
  <button
    class="btn btn-outline-info-flex-end"
    type="button"
    data-toggle="collapse"
    data-target="#collapseExample2"
    aria-expanded="false"
    aria-controls="collapseExample"
    style="margin-left: 90%;"

  >
    <i class="fa-solid fa-arrow-right fa-1x"></i>
  </button>
</p>
<div class="collapse" id="collapseExample2">
  <div class="card card-body">
It is an innovative lending platform created to connect people with their dreams by providing affordable finance to help them meet personal obligations.
  </div>
</div>
    </li>

<li class="list-group-item">
<p>
    How DO I apply?
  <button
    class="btn btn-outline-info-flex-end"
    type="button"
    data-toggle="collapse"
    data-target="#collapseExample3"
    aria-expanded="false"
    aria-controls="collapseExample"
    style="margin-left: 90%;"

  >
    <i class="fa-solid fa-arrow-right fa-1x"></i>
  </button>
</p>
<div class="collapse" id="collapseExample3">
  <div class="card card-body">
Simply review the product options, once you have a product that satisfies your need, asses the loan to be sure you are comfortable with the terms, fill the application form and submit all relevant documents online or physically.
  </div>
</div>
    </li>

<li class="list-group-item">
<p>
    What IS the maximum amount  i cab borrow?
  <button
    class="btn btn-outline-info-flex-end"
    type="button"
    data-toggle="collapse"
    data-target="#collapseExample4"
    aria-expanded="false"
    aria-controls="collapseExample"
    style="margin-left: 90%;"

  >
    <i class="fa-solid fa-arrow-right fa-1x"></i>
  </button>
</p>
<div class="collapse" id="collapseExample4">
  <div class="card card-body">
The maximum amount you can borrow is KES 50,OOO and also depends with your ability to repay.
  </div>
</div>
    </li>

    <li class="list-group-item">
<p>
    what conditions do I need to meet when applying for Eloan?
  <button
    class="btn btn-outline-info-flex-end"
    type="button"
    data-toggle="collapse"
    data-target="#collapseExample5"
    aria-expanded="false"
    aria-controls="collapseExample"
    style="margin-left: 90%;"

  >
    <i class="fa-solid fa-arrow-right fa-1x"></i>
  </button>
</p>
<div class="collapse" id="collapseExample5">
  <div class="card card-body">
1. You must be a Kenyan of above 18yrs <br>
2. You must have a national id. <br>
3. You must have a physical permanent address. <br>
4. You must have no history as a defaulter. <br>
  </div>
</div>
    </li>

<li class="list-group-item">
<p>
    What happens when i default?
  <button
    class="btn btn-outline-info-flex-end"
    type="button"
    data-toggle="collapse"
    data-target="#collapseExample6"
    aria-expanded="false"
    aria-controls="collapseExample"
    style="margin-left: 90%;"

  >
    <i class="fa-solid fa-arrow-right fa-1x"></i>
  </button>
</p>
<div class="collapse" id="collapseExample6">
  <div class="card card-body">
1.you will be marked as a defaulter. <br>
2.you will not be able to access eloans from us untill settled. <br>
4.you will be tracked to recover loan.
  </div>
</div>
    </li>

  </ul>
</div>






{%endblock%}
