{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
        {% block styles %} 
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
   
     {% endblock %}
</head>
<body>
    <footer>
      <div class="footer-content">
        <h3>Lucy Dev</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, id
          tempore aut veritatis culpa velit at ipsum ea provident unde saepe
          incidunt dignissimos architecto quae optio sint ratione odio sunt.
        </p>
        <ul class="socials">
          <li>
            <a href=""><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>copyright &copy;2022 lucyDev. design by <span>lucy</span></p>
      </div>
    </footer> -->
    
</body>
</html>