{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
        {% block styles %} 
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
   
     {% endblock %}
</head>
<body>
    <footer>
      <div class="footer-content">
        <h2 style="color: #c0d96f;">eLoans</h2>
        <div class="row">
          <div class="col-md-3 space">
            <h3 style="color: #c0d96f;">For You</h3>
            <ul>
              <li>Get a loan</li>
              <li>Open account</li>
              <li>Save money</li>
            </ul>
          </div>
          <div class="col-md-3 space">
            <h3 style="color: #c0d96f;">For cooporates</h3>
            <ul>
              <li>Financing</li>
              <li>Services</li>
            </ul>
          </div>
          <div class="col-md-3 space">
            <h3 style="color: #c0d96f;">Quicklinks</h3>
            <ul>
              <li>FAQS</li>
              <li>Suppliers</li>
            </ul>
          </div>
        </div>
        <div class="contact">
          <h3 style="color: #c0d96f;">Contact Us</h3>
          <div class="row socials">
            <div class="col-md-3">
              <a href=""><i class="fa fa-facebook"></i></a>
              <p>Facebook</p>
            </div>
            <div class="col-md-3">
              <a href=""><i class="fa fa-twitter"></i></a>
              <p>Twitter</p>
            </div>
            <div class="col-md-3">
              <a href=""><i class="fa fa-google-plus"></i></a>
              <p>Google</p>
            </div>
            <div class="col-md-3">
              <a href=""><i class="fa fa-youtube"></i></a>
              <p>Youtube</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>copyright &copy;2022 eLoans. design by <span>eloan</span></p>
      </div>
    </footer>
    
</body>
</html>