{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} {% block content%}

<div class="home">
  <div class="image">
    <div class="home-content">
      <p>
        Eloans Is Your Financial Partner <br /><span class="large"
          >Get A Loan</span
        >
        <br />
        Anytime! Anywhere!
      </p>
      <a class="btn btn-outline-light" href="{%url 'apply_loan' user.id%}">
        Get Started
      </a>
    </div>
  </div>
  <div class="cards">
    <div class="container mt-3 cardcont">
      <div class="col-md-4">
        <div class="card2 p-2 py-3">
          <div class="text-center d-flex flex-column align-items-center">
            <div>
              <img
                src="https://i.imgur.com/YzEqP6e.png"
                height="50px"
                width="50px"
              />
            </div>
            <h4 class="stellar pt-3">Save</h4>
            <span class="hosting px-5"
              >Save and get access to a loan using your savings</span
            >
            <span class="price mt-2"
              >$ 0.99<span class="small"> /mo</span></span
            >
            <span class="year">On first year</span>
            <a href="{% url 'deposit' user.id %}">
              <button class="btn btn-sm btn-success mt-2 mb-2">
                Get Started
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card2 p-2 py-3">
          <div class="text-center d-flex flex-column align-items-center">
            <div>
              <img
                src="https://i.imgur.com/f4B2c2B.png"
                height="50px"
                width="50px"
              />
            </div>
            <h4 class="stellar pt-3">Borrow</h4>
            <span class="hosting px-5"
              >Access loans at the lowest interest</span
            >
            <span class="price mt-2"
              >$ 0.99<span class="small"> /mo</span></span
            >
            <span class="year">On first year</span>
            <a href="{% url 'apply_loan' user.id %}">
              <button class="btn btn-sm btn-success mt-2 mb-2">Get Started</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card2 p-2 py-3">
          <div class="text-center d-flex flex-column align-items-center">
            <div>
              <img
                src=" https://i.imgur.com/C4CUnKG.png"
                height="50px"
                width="50px"
              />
            </div>
            <h4 class="stellar pt-3">Lend</h4>
            <span class="hosting px-5"
              >Register as a lender and enjoy great interest
            </span>
            <span class="price mt-2"
              >$ 0.99<span class="small"> /mo</span></span
            >
            <span class="year">On first year</span>
            <a href="{% url 'lenderpage'%}">
              <button class="btn btn-sm btn-success mt-2 mb-2">Get Started</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
