{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} {% block content%}

<div class="home">
  <div class="image">
    <p>
      Eloans Is Your Financial Partner <br /><span class="large"
        >Get A Loan</span
      >
      <br />
      Anytime! Anywhere!
    </p>
    <div class="btn btn-primary" id="getbtn">Get Started</div>
  </div>

  <!-- <div class="about"></div> -->

  <div class="cards">
    <div class="container mt-3 cardcont">
      <div class="col-md-4">
        <div class="card2 p-2 py-3">
          <div class="text-center d-flex flex-column align-items-center">
            <div>
              <img
                src="https://i.imgur.com/YzEqP6e.png"
                height="50px"
                width="50px"
              />
            </div>
            <span class="stellar">save </span>
            <span class="hosting">Save and get access to loan</span>
            <span class="price mt-2"
              >$ 0.99<span class="small"> /mo</span></span
            >
            <span class="year">On first year</span>
            <button class="btn btn-success mt-2">Get Started</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card2 p-2 py-3">
          <div class="text-center d-flex flex-column align-items-center">
            <div>
              <img
                src="https://i.imgur.com/f4B2c2B.png"
                height="50px"
                width="50px"
              />
            </div>
            <span class="stellar">Borrow</span>
            <span class="hosting">Access loans at the lowest interest</span>
            <span class="price mt-2"
              >$ 0.99<span class="small"> /mo</span></span
            >
            <span class="year">On first year</span>
            <a href="{% url 'apply_loan' user.id %}">
            <button class="btn btn-success mt-2">Get Started</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card2 p-2 py-3">
          <div class="text-center d-flex flex-column align-items-center">
            <div>
              <img
                src=" https://i.imgur.com/C4CUnKG.png"
                height="50px"
                width="50px"
              />
            </div>
            <span class="stellar">Lend</span>
            <span class="hosting"
              >Register as a lender and enjoy great interest
            </span>
            <span class="price mt-2"
              >$ 0.99<span class="small"> /mo</span></span
            >
            <span class="year">On first year</span>
            <a href="{% url 'lenderpage'%}">
              <button class="btn btn-success mt-2">Get Started</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
