{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} {% block content%}

<div class="home">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat eum,
    possimus quisquam earum distinctio et totam nemo minima harum iure suscipit
    odit architecto ipsam debitis necessitatibus dignissimos? Vitae, qui velit?
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius in pariatur
    magnam sequi impedit culpa maxime minus deserunt magni, nemo, soluta
    quibusdam sunt ipsum, error deleniti illum. Nobis, animi odit.
  </p>

    <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius in pariatur
    magnam sequi impedit culpa maxime minus deserunt magni, nemo, soluta
    quibusdam sunt ipsum, error deleniti illum. Nobis, animi odit.
  </p>
</div>

{%endblock%}
