{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/loan.css' %}" />

{% endblock %} {% block content%}

<section class="apply-loan">
  <div class="container ">
    <div class="row">
      <div class="col-lg-5 mx-auto loan-form-container"">
        <h2 class="text-center text-dark mb-5">Apply For a Loan</h2>
        <form action="{% url 'apply_loan' request.user.id%}" method="POST">
          {% csrf_token %} {{form.as_p}}
          <br />
          <input type="submit" value="submit" class="btn btn-secondary" />
          <br />
        </form>
      </div>
    </div>
  </div>
</section>
{% block footer %} {% endblock %} {%endblock%}
