<!-- profile -->
{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />

{% endblock %} {% block content%}
<section class="profile">
  <div class="container-fluid pt-5">
    <div class="row">
      <div class="col-lg-4 p-0 ">
        <ul class="list-group sticky-top">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div class="col-lg-3 text-right">
              <img
                class="profile-img ml-auto"
                src="../../static/images/profile.jpg"
                alt=""
              />
            </div>
            <div class="col-lg-4 pl-0 mr-auto">
              <small class="my-auto">
                Username:
                <strong class="text-muted"
                  >{{request.user.username|title}}</strong
                >
              </small>
              <br />
              <small
                >Joined
                <strong class="text-muted"
                  >{{request.user.date_joined}}</strong
                ></small
              >
            </div>
            <div class="col-lg-4">
              <small class="my-auto">
                Account:
                <strong class="text-muted"
                  >{{request.user.user_account.all.0.account_number}}</strong
                >
              </small>
              <br />
              <small
                >User Type:<strong class="text-muted">
                  {% if request.user.is_applicant %} Borrower {% else %} Lender
                  {% endif %}
                </strong></small
              >
            </div>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            data-toggle="collapse"
            href="#allLoans{{request.user.id}}"
            role="button"
            aria-expanded="false"
            aria-controls="allLoans{{request.user.id}}"
          >
            Loans
            <span class="badge badge-color badge-pill">{{loans.count}}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            data-toggle="collapse"
            href="#approvedLoans{{request.user.id}}"
            role="button"
            aria-expanded="false"
            aria-controls="approvedLoans{{request.user.id}}"
          >
            Approved Loans
            <span class="badge badge-color badge-pill"
              >{{approved_loans.count}}</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            data-toggle="collapse"
            href="#pendingLoans{{request.user.id}}"
            role="button"
            aria-expanded="false"
            aria-controls="pendingLoans{{request.user.id}}"
          >
            Pending Loans
            <span class="badge badge-color badge-pill"
              >{{pending_loans.count}}</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            data-toggle="collapse"
            href="#accountDetails{{request.user.id}}"
            role="button"
            aria-expanded="false"
            aria-controls="accountDetails{{request.user.id}}"
          >
            Account Details
          </li>

          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Debts
            <span class="badge badge-color badge-pill">1</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Account Details
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            Transactions
            <span class="badge badge-color badge-pill">2</span>
          </li>
          <a
            href="{% url 'logout' %}"
            class="list-group-item justify-content-between align-items-center"
          >
            Logout
          </a>
        </ul>
      </div>
      <div class="col-lg-7">
        {% include "main/applicant_loans.html" %}
        {% include "main/pending_loans.html" %} 
        {% include "main/approved_loans.html" %}
        {%include "main/account_details.html" %}
      </div>
    </div>
  </div>
</section>

{% block footer%} {%endblock%} {%endblock%}
