{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

{% endblock %} {% block content%}
<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto">
        <div class="form-container">
          <h2 class="login-title card-title text-white px-5 pb-1"><center>Login To Your Account</center></h2>
      <form action="" class="text-white" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            aria-describedby="emailHelp"
            placeholder="Enter username"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
          />
        </div>
        <center>
          <input type="submit" value="submit" id="btn btn-secondary" class="btn btn-secondary" />
          <br />
         <span class="text-white"> Don't have an account?  <a class="signup-link" href="{% url 'register'%}">SignUp</a></span>
        </center>
      </form>
        </div>
      </div>
    </div>
  </div>
</section>


{%endblock%}

{% block footer %}
{% endblock %}

