{% extends 'main/base.html' %} {%load static%} {% block styles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />

{% endblock %} {% block content%}

<div class="register">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto">
        <div class="register-form-container">
          <h3 class="card-title text-white text-center">
            <strong>SignUp</strong>
          </h3>
          <form class="text-white" action="{% url 'register'%}" method="POST">
            {% csrf_token %} {{form.as_p }}
            <button class="btn btn-dark px-4">Submit</button>
            <center>
              <span class="text-white">
                Have an account?
                <a class="signup-link" href="{% url 'login'%}">Login</a></span
              >
            </center>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% block footer %} {%endblock %} {%endblock%}
